<div class="popup-container">
  <h2 mat-dialog-title>Editar Skills</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="mb-3">
        <label for="inputLenguaje" class="form-label">Lenguaje de Programación:</label>
        <input type="lenguaje" [(ngModel)]="data.portfolioData.skills[data.skillIndex].lenguaje"
          [ngModelOptions]="{standalone: true}" class="form-control" id="inputLenguaje">
      </div>
      <div class="mb-3">
        <label for="inputPorcentaje" class="form-label">Porcentaje de Conocimiento:</label>
        <input type="porcentaje" [(ngModel)]="data.portfolioData.skills[data.skillIndex].porcentaje_de_conocimiento"
          [ngModelOptions]="{standalone: true}" class="form-control" id="inputPorcentaje">
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="data.portfolioData" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>