<h1>Iniciar Sesión</h1>
<form class="m-5" (ngSubmit)="doLogin()" [formGroup]="form" autocomplete="off" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" formControlName="username" id="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" formControlName="password" name="password" >
  </div>
  <p *ngFor="let error of errors">{{error.msg}}</p>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>