<div class="popup-container">
  <h2 mat-dialog-title>Añadir Educación</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="mb-3">
        <label for="inputInstitucion" class="form-label">Institución Educativa</label>
        <input type="institucion" [(ngModel)]="educacion.escuela" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputInstitucion">
      </div>
      <div class="mb-3">
        <label for="inputTitulo" class="form-label">Titulo</label>
        <input type="titulo" [(ngModel)]="educacion.titulo" [ngModelOptions]="{standalone: true}" class="form-control"
          id="inputTitulo">
      </div>
      <mat-form-field>
        <mat-label>Fecha de Inicio:</mat-label>
        <input matInput [matDatepicker]="pickerStart"   [(ngModel)]="educacion.inicio" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de Finalización:</mat-label>
        <input matInput [matDatepicker]="pickerEnd"  [(ngModel)]="educacion.fin" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <div class="mb-3">
        <label for="inputImage" class="form-label">Subí la imagen del logo de la empresa/institución:</label>
        <input type="text" [(ngModel)]="educacion.escuela_image" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputImage">
      </div>
      <img class="image-preview" [src]="educacion.escuela_image" />
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="educacion" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>