<div class="navbar-container">
  <a class="navbar-home" href="/portfolio-list/">
    <fa-icon class="navbar-icon" [icon]="faHomeUser" size="xl"></fa-icon>
    Inicio
  </a>

  <div class="navbar-login-container">
    <div *ngIf="!this.loginService.isLogged(); else elseBlock">
      <button  class="btn btn-primary login-button"
      (click)="openLoginDialog()">Iniciar sesion</button>
    </div>
     
    <ng-template #elseBlock>
      <a [href]="'/portfolio/'+loginService.getUserLoggedIn()?.user_id"><img class="logged-image" [src]="this.loginService.getUserLoggedIn()?.profile_picture" alt=""></a>
      <button class="btn btn-primary login-button" (click)="this.loginService.logout()">Cerrar sesion</button>
    </ng-template>
  </div>
</div>