<div class="card_container no-padding">
    <div id="profile-background" [ngStyle]="{'background-image':'url(' + portfolioHeader?.banner_image+ ')'}">
        <img class="profile-image" [src]="portfolioHeader?.profile_picture" alt="">
        <div class="btn-edit"><a href="#" class="btn-right"></a></div>
    </div>

    <div class="edit-button-container edit_pen">
        <button
            *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioHeader.id"
            (click)="openDialog()">
            <fa-icon [icon]="faPen" size="lg">
            </fa-icon>
        </button>

    </div>
    <div class="info-data-container">
        <div id="info-data">
            <div *ngIf="portfolioHeader?.experiencias">
                <h1>{{portfolioHeader?.nombre + " " + portfolioHeader?.apellido}}</h1>
                <div id="info-company">{{portfolioHeader.experiencias[0]?.puesto}}</div>
                <div id="info-contact">
                    <span id="info-lugar">{{portfolioHeader?.nacionalidad}}</span>
                    <span id="info-contact-url"><a
                            href="https://www.linkedin.com/in/alejandra-melisa-l%C3%B3pez/">Información de
                            Contacto</a></span>
                    <fa-icon class="faLinkedin" [icon]="faLinkedin" size="lg">
                    </fa-icon>
                </div>
            </div>

            <ul id="info-details">
                <li *ngIf="portfolioHeader?.experiencias">
                    <a class="info-details-container" href="#">
                        <img class="info-details-icon" [src]="portfolioHeader.experiencias[0]?.puesto_image" alt="">
                        <h4>{{portfolioHeader.experiencias[0]?.compania}}</h4>
                    </a>
                </li>
                <li *ngIf="portfolioHeader?.educaciones">
                    <a class="info-details-container" href="#">
                        <img class="info-details-icon" [src]="portfolioHeader.educaciones[0]?.escuela_image" alt="">
                        <h4>{{portfolioHeader.educaciones[0]?.escuela}}</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info-buttons-container"><button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir Sección</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>
</div>