<div class="popup-container">
    <h2 mat-dialog-title>Añadir skills:</h2>
    <mat-dialog-content class="mat-typography">
      <form>
        <div class="mb-3">
          <label for="inputLenguaje" class="form-label">Lenguaje de Programación:</label>
          <input type="text" name="lenguaje" formControlName="lenguaje"  class="form-control" id="inputLenguaje">
        </div>
        <div class="mb-3">
          <label for="inputPorcentaje" class="form-label">Porcentaje de Conocimiento:</label>
          <input type="text"
          name="porcentaje_de_conocimiento" formControlName="porcentaje_de_conocimiento" class="form-control" id="inputPorcentaje">
        </div>
      </form>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button  class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
      <button class="btn btn-primary" mat-button cdkFocusInitial [mat-dialog-close]="skill">Guardar</button>
    </mat-dialog-actions>
  </div>