<div class="popup-container">
  <h2 mat-dialog-title>Añadir Experiencia</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="mb-3">
        <label for="inputPuesto" class="form-label">Puesto</label>
        <input type="puesto" [(ngModel)]="experiencia.puesto" [ngModelOptions]="{standalone: true}" class="form-control"
          id="inputPuesto">
      </div>
      <div class="mb-3">
        <label for="inputNombreEmpresa" class="form-label">Nombre de la empresa</label>
        <input type="nombre_empresa" [(ngModel)]="experiencia.compania" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputNombreEmpresa">
      </div>
      <div class="mb-3">
        <label for="inputJornada" class="form-label">Tipo de Empleo</label>
        <input type="jornada" [(ngModel)]="experiencia.jornada" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputJornada">
      </div>
      <mat-form-field>
        <mat-label>Fecha de Inicio:</mat-label>
        <input matInput [matDatepicker]="pickerStart"  [(ngModel)]="experiencia.inicio" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de Finalización:</mat-label>
        <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="experiencia.fin" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <div class="mb-3">
        <label for="inputImagen" class="form-label">Subí la imagen del logo de la empresa/institución:</label>
        <input type="text" [(ngModel)]="experiencia.puesto_image" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputImagen">
      </div>
      <img class="image-preview" [src]="experiencia.puesto_image" />
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button cdkFocusInitial [mat-dialog-close]="experiencia">Guardar</button>
  </mat-dialog-actions>
</div>