<div class="popup-container">
  <h2 mat-dialog-title>Añadir Proyecto</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="mb-3">
        <label for="inputNombreProyecto" class="form-label">Nombre del Proyecto</label>
        <input type="text" [(ngModel)]="proyecto.nombre_proyecto" [ngModelOptions]="{standalone: true}"
          class="form-control" id="inputNombreProyecto">
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label for="inputDescripcion" class="form-label">Descripción del Proyecto</label>
          <textarea class="form-control" id="descripcion" rows="3" [(ngModel)]="proyecto.descripcion"
            [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Fecha de Inicio:</mat-label>
        <input matInput [matDatepicker]="pickerStart"  [(ngModel)]="proyecto.fecha_inicio" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de Finalización:</mat-label>
        <input matInput [matDatepicker]="pickerEnd"  [(ngModel)]="proyecto.fecha_final" [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>

      <div class="mb-3">
        <label for="inputLink" class="form-label">Link al Proyecto:</label>
        <input type="link" [(ngModel)]="proyecto.url" [ngModelOptions]="{standalone: true}" class="form-control"
          id="inputLink">
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary" mat-button cdkFocusInitial [mat-dialog-close]="proyecto">Guardar</button>
  </mat-dialog-actions>
</div>