<div *ngIf="(portfolioData.proyectos.length > 0)" class="card_container">
    <div class="projects-container">
        <h3 class="card-title">Proyectos</h3>
        <div *ngFor="let project of portfolioData.proyectos" class="projects-details-container">
            <div>
                <h4 class="projects-title">{{project.nombre_proyecto}}</h4>
                <p class="projects-years">{{project.fecha_inicio | date: 'MMM yyyy'}} - {{project.fecha_final | date:
                    'MMM yyyy' }}</p>
                    <p>{{project.descripcion}}</p>
            <a [href]="project.url"  class="btn btn-primary">Mostrar proyecto  <fa-icon [icon]="faArrowUpRightFromSquare" size="sm"></fa-icon>
            </a>
            </div>
       
        </div>
    </div>
</div>