<div *ngIf="(portfolioData.proyectos.length > 0)" class="card_container">
    <div class="projects-container">
        <div class="addExpOrEduButton">
            <h3 class="card-title">Proyectos</h3>
            <div class="add-button-container">
                <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openAddProjectDialog()">
                    <fa-icon [icon]="faPlus" size="xl">
                    </fa-icon>
                </button>
            </div>
        </div>
        <div *ngFor="let project of portfolioData.proyectos; let i = index" class="projects-details-container">
            <div>
                <div class="project-edit-container">
                <h4 class="projects-title">{{project.nombre_proyecto}}</h4>
                    <div class="project-buttons-container">
                        <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openProjectEditDialog(i)">
                            <fa-icon [icon]="faPen" size="lg">
                            </fa-icon>
                        </button>
                        <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openDeleteProjectSwall(i)">
                            <fa-icon [icon]="faXmark" size="xl">
                            </fa-icon>
                        </button>
                    </div>
                </div>
                <p class="projects-years">{{project.fecha_inicio | date: 'MMM yyyy'}} - {{project.fecha_final | date:
                    'MMM yyyy' }}</p>
                    <p>{{project.descripcion}}</p>
            <a [href]="project.url"  class="btn btn-primary">Mostrar proyecto  <fa-icon [icon]="faArrowUpRightFromSquare" size="sm"></fa-icon>
            </a>

            </div>

       
        </div>
    </div>
</div>