.projects-container {
    padding: 10px;
    margin-left: 2em;
}

.projects-details-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
}

#projects-details {
    list-style-type: none;

}

.project-years {
    margin: 0px 0px 0px 0px;
}

.btn-primary {
    margin-left:0;
    margin-bottom:0.5em;
}

.add-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.3em;
}

.addExpOrEduButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.project-edit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.3em;
}


