.card_container {
    border-radius: 32px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    margin: 10px;
    padding-top: 1em;
    padding-bottom:1em;
    background-color: white;
}

.btn-primary {
    margin-left: 2em;
}

.info-buttons-container {
    padding-bottom: 1em;
}

.edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.3em;
    height:70px;
}


.popup-container {
    padding: 2em;
    width:1000px;
}

button { 
    border: 0px transparent;
    background-color: transparent;
}
html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-margin {
    margin: 0px;
  }

  .addExpOrEduButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}