<app-navbar class="navbar-index"></app-navbar>
<div class="portfolioList-container">
    <div class="profile_logged_container">
        <div *ngIf="this.loginService.isLogged()" class="profile_logged_card">
            ><img class="profile-banner" [src]="loginService.getUserLoggedIn()?.banner_image" alt="">
            <div class="banner_content column">
                <a [href]="'/portfolio/'+loginService.getUserLoggedIn()?.user_id"><img class="profile-banner-image"
                        [src]="loginService.getUserLoggedIn()?.profile_picture" alt=""></a>
                <h4 class="banner_title">{{loginService.getUserLoggedIn()?.nombre}}</h4>
                <p class="banner_subtitle underlined">{{loginService.getUserLoggedIn()?.ocupacion}}</p>
                <div class="profile-contacts-container">
                    <div class="profile-contacts">
                        <p class="profile-contacts-title no-margin">Contactos</p>
                        <p class="random-number bold no-margin">{{randomContactNumber}}</p>
                    </div>
                    <p class="bold no-margin">Amplia tu perfil</p>
                    <div class="profile-contacts">
                        <p class="profile-contacts-title">Quién ha visto tu perfil</p>
                        <p class="random-number bold">{{randomViewsNumber}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="home_content">
        <div class="profile_picture_container" *ngFor="let portfolio of portfolioList.filter(hasPicture); let j = index"
            [style]="'order:' + j">
            <p class="work-title-update">Actualización de proyecto de {{portfolio.nombre}} {{portfolio.apellido}}:</p>
            <div class="work-update">
                <div class="work-profile">
                    <a [href]="'/portfolio/'+portfolio.id"><img class="profile-image" [src]="portfolio.profile_picture"
                            alt=""></a>
                    <div class="column align_start padding_left">
                        <p class="profile_text">{{portfolio.nombre}} {{portfolio.apellido}}</p>
                        <p class="profile_text banner_subtitle"> {{portfolio.ocupacion}}</p>
                    </div>
                </div>
                <div class="home_working_on">
                    <p>¡Me alegra contarles que he obtenido un nuevo certificado: Argentina Programa 4ta Edición.
                        Felicita a {{portfolio.nombre}} por su nuevo logro!</p>
                </div>
                <div class="banner_argprograma">
                </div>
            </div>
            <div class="profile-like">
                <div class="profile-logo">
                    <fa-icon [icon]="faThumbsUp" size="sm">
                    </fa-icon>
                    <p>Recomendar</p>
                </div>
                <div class="profile-logo">
                    <fa-icon [icon]="faComments" size="sm">
                    </fa-icon>
                    <p>Comentar</p>
                </div>

            </div>
            <div class="profile-comment">
                <a class="profile-image-container" [href]="'/portfolio/'+portfolio.id"><img
                        class="profile-image-comment" [src]="portfolio.profile_picture" alt=""></a>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Añadir un comentario...">
                </div>
            </div>
        </div>
        <div class="profile_picture_container" *ngFor="let portfolio of portfolioList.filter(hasPicture); let i = index"
            [style]="'order:' + i">
            <p class="work-title-update">Actualización de empleo de {{portfolio.nombre}} {{portfolio.apellido}}:</p>
            <div class="work-update">
                <div class="work-profile">
                    <a [href]="'/portfolio/'+portfolio.id"><img class="profile-image" [src]="portfolio.profile_picture"
                            alt=""></a>
                    <div class="column align_start padding_left">
                        <p class="profile_text">{{portfolio.nombre}} {{portfolio.apellido}}</p>
                        <p class="profile_text banner_subtitle"> {{portfolio.ocupacion}}</p>
                    </div>
                </div>
                <div class="home_working_on">
                    <p>¡Felicita a {{portfolio.nombre}} por su nuevo puesto como {{portfolio.ocupacion}}!</p>
                </div>
            </div>
            <div class="profile-like">
                <div class="profile-logo">
                    <fa-icon [icon]="faThumbsUp" size="sm">
                    </fa-icon>
                    <p>Recomendar</p>
                </div>
                <div class="profile-logo">
                    <fa-icon [icon]="faComments" size="sm">
                    </fa-icon>
                    <p>Comentar</p>
                </div>

            </div>
            <div class="profile-comment">
                <a class="profile-image-container" [href]="'/portfolio/'+portfolio.id"><img
                        class="profile-image-comment" [src]="portfolio.profile_picture" alt=""></a>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Añadir un comentario...">
                </div>
            </div>


        </div>

    </div>
</div>