<div class="popup-container">
  <h2 mat-dialog-title>Editar información</h2>
  <mat-dialog-content class="mat-typography">
    <form>
      <div class="mb-3">
        <label for="exampleInputNombre" class="form-label">Nombre</label>
        <input type="nombre" [(ngModel)]="portfolioData.nombre"  [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputNombre">
      </div>
      <div class="mb-3">
        <label for="exampleInputApellido" class="form-label">Apellidos</label>
        <input type="apellido" [(ngModel)]="portfolioData.apellido"  [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputApellido">
      </div>
      <div class="mb-3" *ngIf="portfolioData.experiencias.length">
        <label for="exampleInputPuesto" class="form-label">Puesto</label>
        <input type="puesto"
        [(ngModel)]="portfolioData.experiencias[0].puesto"  [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPuesto">
      </div>
      <div class="mb-3">
        <label for="exampleInputContacto" class="form-label">Contacto</label>
        <input type="contacto" [(ngModel)]="portfolioData.contacto"  [ngModelOptions]="{standalone: true}"
         class="form-control" id="exampleInputContacto">
      </div>
      <div class="mb-3">
        <label for="exampleInputUbicacion" class="form-label">Ubicación</label>
        <input type="ubicacion" [(ngModel)]="portfolioData.nacionalidad"  [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputUbicacion">
      </div>
    </form>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button  class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
    <button  class="btn btn-primary"  mat-button [mat-dialog-close]="portfolioData" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>