
    <div class="card_container">
        <div class="experience-container">
            <div class="addExpOrEduButton">
                <h3 class="card-title">Experiencia</h3>
                <div class="add-button-container">
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openAddExperienceDialog()">
                        <fa-icon [icon]="faPlus" size="xl">
                        </fa-icon>
                    </button>
                </div>
            </div>
            <div *ngFor="let experience of portfolioData?.experiencias;let i = index" class="experience-details-container">
                <div style="display: flex; flex-direction: row;">
                    <a [href]="experience.puesto_url"><img class="experience-details-icon" [src]="experience.puesto_image" alt=""></a>
                    <div>
                        <h4 class="experience-title">{{experience.puesto}}</h4>
                        <p>{{experience.compania}}</p>
                        <p class="experience-years">{{experience.inicio | date: 'MMM yyyy'}} - {{experience.fin | date: 'MMM yyyy' }}</p>
                    </div>
                </div>
                <div class="edit-button-container">
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openExperienceEditDialog(i)">
                        <fa-icon [icon]="faPen" size="lg">
                        </fa-icon>
                    </button>
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openDeleteExperienceSwall(i)">
                        <fa-icon [icon]="faXmark" size="xl">
                        </fa-icon>
                    </button>
                </div>
            </div>
            <div class="addExpOrEduButton">
                <h3 class="card-title">Educación</h3>
                <div class="add-button-container">
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openAddEducationDialog()">
                        <fa-icon [icon]="faPlus" size="xl">
                        </fa-icon>
                    </button>
                </div>
            </div>
            <div *ngFor="let education of portfolioData.educaciones;let i = index" class="experience-details-container">
                <div style="display: flex; flex-direction: row;">
                    <a [href]="education.escuela_url"><img class="experience-details-icon" [src]="education.escuela_image" alt=""></a>
                    <div>
                        <h4 class="experience-title">{{education.titulo}}</h4>
                        <p>{{education.escuela}}</p>
                        <p>{{education.inicio | date: 'MMM yyyy'}} -  {{education.fin | date: 'MMM yyyy' }}.</p>
                    </div>
                </div>
                <div class="edit-button-container">
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openEducationEditDialog(i)">
                        <fa-icon [icon]="faPen" size="lg">
                        </fa-icon>
                    </button>
                    <button *ngIf="this.loginService.isLogged() && this.loginService.getUserLoggedIn()?.user_id == portfolioData.id" (click)="openDeleteEducationSwall(i)">
                        <fa-icon [icon]="faXmark" size="xl">
                        </fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
