.experience-container {
    margin-left: 2em;
    padding: 10px;
}

.experience-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
}

.experience-details-edit {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
#experience-details {
    list-style-type: none;

}

.experience-details-icon {
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin-right: 2em;
    
}


.add-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.3em;
}

.addExpOrEduButton {
    justify-content: space-between;
}


